name: Generate DECK.md

on:
  push:
    paths:
      - '.pm/**'

jobs:
  build:
    runs-on: ubuntu-latest  # Indentation is crucial here

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Make script executable
        run: chmod +x .github/gh_generate_markdown.sh

      - name: Run Script
        run: ./.github/gh_generate_markdown.sh
        shell: bash

      - name: Commit and push changes to master  
        run: |
          git config user.name "john"
          git config user.email "john.doe@example.com" 
          git add DECK.md
          git commit -m 'initial commit' DECK.md
          git push origin HEAD